h1{
   font-size: 70px;
   text-align: center;
   color: sienna;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
   width: 50%;
   height: 10px;
   background: sienna;
}

p{
   width:  50%;
   margin: auto;
}

img{
   height: 200px;
   
}
.images{
   width: fit-content;
   margin: auto;
}
video{
   width: 50%;
   display: block;
   margin: auto;
}